{% if message or purgeMessage %}
    <div class="layout-container">
        <div class="messages messages--warning">
            <ul class="messages__list">
                {% if message %}
                    <li class="messages__item">{{ message }}</li>
                {% endif %}
                {% if purgeMessage %}
                    <li class="messages__item">{{ purgeMessage }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}